@charset "utf-8";
/* CSS Document */

@media (max-width: 1092px) {
	html {
		overflow-x: hidden;
	}
	body {
		overflow-x: hidden;
	}
	header#layout-header {
		display: none;
	}
	section#layout-content {
		padding-top: 0px;
	}
}